body{
    margin: 10px;
    padding: 10px;
    color: #091E3A;
    text-align: center;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "header header header header header"    
    "section section section section section"
    "main main main main main";
    
}
#nav{
    grid-area: header;
    background: #fff; 
    
}
#nav .logo{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
}

#nav a{
    display: flex;
    float: right;
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: #091E3A;
}

#nav .signup{
    border: 2px solid #091E3A;
    border-radius: 20px;
}

section{
    height: 250px;
    display: grid;
    font-weight: bold;
    color: #091E3A;
    grid-area: section;  
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "yourbiz yourbiz computer computer" 
    "reason reason . ."
    "tour tour . ." ;   
}

.yourbiz{
    grid-area: yourbiz;
    font-size: 30px;
}

.reason{
    grid-area: reason;
    font-weight: lighter;
    margin-top: 45px;
    color: #091E3A;

}

.tour{
    grid-area: tour;
    font-weight: lighter;
}
.tour a{
    text-decoration: none;
    border: 2px solid #091E3A;
    border-radius: 20px;
    color: #091E3A;
    padding: 15px;
    font-weight: bold;
}

.computer{
    grid-area: computer;  
    height: 480px;
}

main{
    grid-area: main;
    margin-top: 230px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "heading heading heading heading heading"
    "were were were were were"
    ". oneptext . aside aside"
    "aside2 aside2 . twoptext ."
    ;
}
#heading{
    grid-area: heading;
}
.were{
    grid-area: were;
}
.oneptext{
    grid-area: oneptext;
}
.aside{
    text-align: left;
    grid-area: aside;
    justify-content: center;
    line-height: 24px;
    
}
.learnmore{
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid #091E3A;
    border-radius: 20px;
    color: #091E3A;
    padding: 5px;
    font-weight: bold;
    
}
.recurr{
    text-decoration: none;
    font-size: 13px;
}
.aside2{
    grid-area: aside2;
    text-align: right;
    justify-content: center;
    line-height: 24px;
    margin-top: 100px;
}
.twoptext{
    grid-area: twoptext;
    margin-top: 100px;
}